[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
skops = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
tensorflow = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.11"
